body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

#map {
    height: 90vh;
    margin-right: 300px;
}

#controlPanel {
    display: inline-block;
    float: right;
    width: 400px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 10px;
    padding-top: 0;
    height: 90vh;
    overflow-y: auto;
}

.menu {
    border: solid 1px black;
    margin-bottom: 10px;
}

.menuPanel {
    padding: 0 18px;
    background-color: white;
    min-height: 60vh;
    overflow: hidden;
}

.okButton {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 20px;
    padding: 8px;
    min-width: 120px;
    border-radius: 5px;
    border: 1px solid cornflowerblue;
    background-color: cornflowerblue;
    color: white;
    float: right;
    margin: 12px 0;
    margin-left: 10px;
}

    .okButton:hover {
        transition: 0.3s;
        background-color: #4d85ea;
    }

.songData {
    display: flex;
    width: max-content;
    white-space: nowrap;
}

.column {
    flex: 1;
    padding: 4px;
    align-self: center;
    font-size: 1.2em;
    max-width: max-content;
}

.personalOptions {
    font-size: 1.1em;
}

#welcomeRow {
    display: flex;
    padding-top: 20px;
}